<nav-bar></nav-bar>

<div id="wrapper" ng-controller="OrderController">

        <!-- Sidebar -->
        <side-bar></side-bar>
  
      
    <!-- Page Content -->
    <div class="container" >
<div ng-controller="HeaderController">
<div ng-repeat="header in listHeader">
        <!-- Jumbotron Header -->
     <comic-header></comic-header>
     </div>
</div>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3 ng-show="predicate != null">Popular Comics</h3>
                 <h5 ng-show="predicate != null">reverse = {{reverse}}</h5>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div  class="row text-center">
        
     
        
            <div ng-repeat="features in listComics | filter:search:strict">



              <comic-feature></comic-feature>
            </div>
        </div>

        

       <!-- /.row -->

        <hr>

        <!-- Footer -->
   
    <comic-footer></comic-footer>

    </div>
    <!-- /.container -->