/*!
 * Start Bootstrap - Heroic Features HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
   
    background-image:url(../../assets/img/bg.jpg);
	background-repeat: no-repeat;
    background-position: left;
   /* background-size: 100% 100%;*/
    background-size:cover;
    border: 1px solid #777;
    color: #EEECC8;
    text-shadow: 1px -4px 3px #E4E148; 
}

.hero-feature {
    margin-bottom: 30px;
}

/*footer {
   
     color: #EEECC8;
     background-color: #222222;
    
      position: relative;
    z-index: 10;
    height: 100%;
    margin-top: -3em;
    margin-left: -1em;
}*/


header {
background-image:url(../img/bg.jpg);
background-repeat: no-repeat;

}

.select-menu{
	background-color: #222222;
	color: #9d9d9d;
	padding:3px;
    margin: 0;
    margin-top: 12px;
    margin-right: -10px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

li {
   background:  #222222;
    cursor:pointer;
    color: #9d9d9d;
}

.icon-social-media{
    margin-top: 5px;
    float: right;
}
.footer_bg{

     background: #222222;

}
.wrap{
    width: 95%;
    margin: 0 auto;
}
.foot{
    padding: 6% 2%;
}
.footer_bm{
    border-top: 6px solid #9d9d9d;
    margin-top: 4%;
    padding-top: 4%;
}

.icon-social-media li {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.copy{
    float: left;
}

.copy p {
    color: #9d9d9d;
    font-size: 1em;
    text-transform: uppercase;
}

