  <nav-bar></nav-bar>
  <div class="container">

  <div ng-controller="HeaderController">
<div ng-repeat="header in listHeader">
        <!-- Jumbotron Header -->
     <comic-header></comic-header>
     </div>
</div>
       
  <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Add User</h1>
        </div>


  <div class="modal-body">
        <form class="login-form" name="signForm" ng-submit="registerForm(usuario)" novalidate>
         <div class="form-group">
            <input type="name" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required autofocus="" ng-model="usuario.nombre">
            </div>
             <div class="form-group">
            <input type="lastname" name="apellido" id="apellido" class="form-control" placeholder="Apellido" required autofocus="" ng-model="usuario.apellido">
            </div>
 <div class="form-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="email" required autofocus="" ng-model="usuario.email">
        </div>
 <div class="form-group">
        <input type="username" name="username" id="username" class="form-control" placeholder="username" required autofocus="" ng-model="usuario.username">
        </div>
 <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required ng-model="usuario.password" ng-minlength="7">
            </div>

            <div class="form-group">
             <span class="pull-right" ng-show="signForm.password.$error.minlength" class="help-block">Password is too short.</span>
            </div>
            
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="signForm.$invalid">Add</button>

        <p class="message" class="fade" ng-bind="message"></p>
        
      </form>
      </div>
  
 

    </div></div>
      <comic-footer></comic-footer>
 