<nav-bar></nav-bar>


<div id="wrapper">

<!--<side-bar></side-bar>-->


   
<div class="container">

<div ng-controller="HeaderController">
<div ng-repeat="header in listHeader">
        <!-- Jumbotron Header -->
     <comic-header></comic-header>
     </div>
</div>

     <hr>



    <div class="row" ng-controller="StoreController">

    
        <div class="col-xs-12 col-sm-6 col-md-6">
            
                <div class="row">
                            <div class="panel panel-default">
                              <!-- Default panel contents -->
                              <div class="panel-heading">Registered Users</div>

                              <!-- Table -->
                              <table class="table">
                              <thead>
                                  <tr>
                                      <th>Username</th>
                                      <th>Name</th>
                                      <th>Lastname</th>
                                      <th>Email</th>
                                      <th>User Type</th>
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="user in listUsers">
                                   <td>{{user.username}}</td>
                                  <td>{{user.name}}</td>
                                  <td>{{user.lastname}}</td>
                                  <td>{{user.email}}</td>
                                  <td>{{user.role}}</td>
                                  <td><a ng-click="delete(user)">Delete</a></td>
                              </tr>
                              </tbody>
                              </table>
                            </div>

                 
                               </div>

                               <a href="./#adduser"><input type="button" name="add" value="Añadir" id="add"></a>
           
        </div>
    </div>
</div>

  <comic-footer></comic-footer>

  </div>