<nav-bar></nav-bar>

<div id="wrapper" ng-controller="OrderController">

        <!-- Sidebar -->
        <side-bar></side-bar>
  
      
    <!-- Page Content -->
    <div class="container" >
<div ng-controller="HeaderController">
<div ng-repeat="header in listHeader">
        <!-- Jumbotron Header -->
     <comic-header></comic-header>
     </div>
</div>
        <hr>

<h1>Oopps! Something goes wrong.</h1>
<h3>The page you looking for not exist</h3>


  <hr>

        <!-- Footer -->
   
    <comic-footer></comic-footer>

    </div>
    <!-- /.container -->