  <div class="container" >
 <div ng-controller="HeaderController">
<div ng-repeat="header in listHeader">
        <!-- Jumbotron Header -->
     <comic-header></comic-header>
     </div>
</div>
</div>
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Login</h1>
        </div>
        <div class="modal-body">
        <form class="login-form" name="loginForm" ng-submit="submitForm(usuario)" novalidate>
        <div class="form-group">
            <input type="username" name="username" id="password" class="form-control" placeholder="Nombre de Usuario" required autofocus="" ng-model="usuario.username">
            </div>
            <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required ng-model="usuario.password" ng-minlength="7" ng-pattern="/^[a-zA-Z0-9]*$/">
 </div>
         <div class="form-group">
             <span class="pull-right" ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</span>
             <p ng-show="loginForm.password.$error.pattern" class="help-block">Password should be alphanumeric</p>
             <p ng-show="loginForm.password.$error.required && !loginForm.password.$pristine" class="help-block">Password is required</p>
            </div>
            
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid">Sign in</button>

        <p class="message" class="fade" ng-bind="message"></p>
        
      </form>
      </div>
 
<div class="modal-footer">
          <div class="col-md-12">
 <label >
                <a href=".#/register">Sign Up</></a>
  </label>
  </div>
  </div>
    </div>
    </div></div>
    

 
   
 
