<nav-bar></nav-bar>


<div id="wrapper">

<!--<side-bar></side-bar>-->


   
<div class="container">

<div ng-controller="HeaderController">
<div ng-repeat="header in listHeader">
        <!-- Jumbotron Header -->
     <comic-header></comic-header>
     </div>
</div>

     <hr>



    <div class="row" ng-controller="StoreController">

    
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img ng-src="{{imageUsuario}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                             {{nombreUsuario}} {{apellidoUsuario}}</h4>
                        
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{emailUsuario}}
                            <br />
                            Type User: {{roleUsuario}}
                            <br />
                            Username: {{nUsuario}}
                            <br />
                           
                        <!-- Split button -->

                        <div ng-show ="roleUsuario === 'admin'" class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Manage</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Manage</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Comics Borrowed</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Manage Comics</a></li>
                                <li class="divider"></li>
                                <li><a href="./#users">Manage Users</a></li>
                                <li class="divider"></li>
                                 <li><a href="#">Edit My Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="#">See my comics</a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>

                         <div ng-show ="roleUsuario === 'user'" class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Manage</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Manage</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit My Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="#">See my comics</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <comic-footer></comic-footer>

  </div>