  <div class="container" >
 <div ng-controller="HeaderController">
<div ng-repeat="header in listHeader">
        <!-- Jumbotron Header -->
     <comic-header></comic-header>
     </div>

</div>
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header">
             <h1 class="text-center">Sign Up</h1>
        </div>
        <div class="modal-body">
        <form class="login-form" name="signForm" ng-submit="registerForm(usuario)" novalidate>
         <div class="form-group">
            <input type="name" name="name" id="name" class="form-control" placeholder="Nombre"  autofocus="" ng-model="usuario.name" required="required">
            </div>
             <div class="form-group">
            <input type="lastname" name="lastname" id="lastname" class="form-control" placeholder="lastname" autofocus="" ng-model="usuario.lastname" required="required">
            </div>
 <div class="form-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="email" autofocus="" ng-model="usuario.email" required="required">
        </div>
 <div class="form-group">
        <input type="username" name="username" id="username" class="form-control" placeholder="username" autofocus="" ng-model="usuario.username" required="required">
        </div>
 <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="usuario.password" ng-minlength="7" ng-pattern="/^[a-zA-Z0-9]*$/" required="required">
            </div>

            <div class="form-group">
             <span class="pull-right" ng-show="signForm.password.$error.minlength" class="help-block">Password is too short.</span>
             <p ng-show="signForm.password.$error.pattern" class="help-block">Password should be alphanumeric</p>
             <p ng-show="signForm.password.$error.required && !signForm.password.$pristine" class="help-block">Password is required</p>
            </div>
            
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="signForm.$invalid">Sign in</button>

        <p class="message" class="fade" ng-bind="message"></p>
        
      </form>
      </div>

       <label class="checkbox">
                <a href=".#/">Login</></a>
  </label>

       
 

    </div>
    </div></div></div>
   
 