 
            <div class="footer_bg">
            <div class="wrap">
            <div class="foot">
            <div class="footer_bm">
              

                <div class="icon-social-media">
                <ul>
                    <li><img ng-src="assets/img/Facebook.png"></li>
                    <li><img ng-src="assets/img/Twitter.png"></li>
                    <li><img ng-src="assets/img/Instagram.png"></li>
                    <li><img ng-src="assets/img/GooglePlus.png"></li>
                    </ul>
                </div>
                

                <div>
                    <h3>Sitemap</h3>
                </div>

                  <div class="copy">
                   <p>Copyright | All Right Reserved. 2016</p>
                </div>
            </div>
            </div>
            </div>
            </div>

   