<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">


                    <img ng-src="{{features.image}}" alt="">
                    <div class="caption">
                        <h3>{{features.titulo}}</h3>
                        <p>{{features.descripcion}}</p>
                        <p>{{features.author}}</p>
                        <p>{{features.popularity}}</p>
                        <p>{{features.genre}}</p>
                        <p>
                            <a href="#" class="btn btn-primary">Lend</a> <a href="#" class="btn btn-default">+ Info</a>
                        </p>
                    </div>
                </div>
            </div>
         

           