   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <a class="navbar-brand" href=".#/comics">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#menu-toggle">Search</a>
                    </li>
                     <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
                </div>
                </form>
                    <li class="dropdown">

                    <select class="select-menu" ng-model="search.genre">
                    <option value="">Genres</option>
                    <option value="">All</option>
                      <option ng-repeat="features in listComics | unique:'genre'">{{features.genre}}</option>
                    </select>

         
         
          </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                             <li class="dropdown">

  <select class="select-menu" ng-model="search.character">
                    <option value="">Characters</option>
                    <option value="">All</option>
                      <option ng-repeat="features in listComics | unique:'character'">{{features.character}}</option>
                    </select>
  
          </li>
                    
                      


<li class="dropdown" ng-controller="StoreController" ng-show ="roleUsuario === 'admin'">
 <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managing<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=".#/profile"><label>Borrowed Comics</label></a></li>
            <li role="separator" class="divider"></li>
            <li><a href=".#/profile"><label>Manage Comics</label></a></li>
            <li role="separator" class="divider"></li>
            <li><a href=".#/users"><label>Manage Users</label></a></li>
            
           </ul>

</li>

           <li class="dropdown" ng-controller="StoreController">

          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nombreUsuario}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=".#/profile"><label>My Profile</label></a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="cerrarSesion()" href=".#/"><label>Salir</label></a></li>
            
           </ul>
          </li>
     
                 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>