     <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a ng-click="search = null">
                       Order By
                    </a>
                </li>
                <li>
                    <a href="#">Top Searches</a>
                </li>
                <li>
                    <a ng-click="order('popularity')">Qualifications</a>
                    <span class="sortorder" ng-show="predicate === 'popularity'" ng-class="{reverse:reverse}"></span>
                </li>
                <li>
                    <a>Recomended</a>
                 
                </li>

                  <li class="sidebar-brand">
                    <a>Advanced Search</a>
                
                </li>

                <li>
                    
                      <div class="input-group">
          
          <input ng-model="search.titulo" type="text" class="form-control" placeholder="Buscar por Titulo" aria-describedby="basic-addon1">
        </div>
                </li>

                              <li>
                    
                      <div class="input-group">
          
          <input ng-model="search.author" type="text" class="form-control" placeholder="Search Author" aria-describedby="basic-addon1">
        </div>
                </li>


           <li>
             <div class="input-group">
          
          <input ng-model="search.popularity" type="text" class="form-control" placeholder="Search Popularity" aria-describedby="basic-addon1">
        </div>
                </li>

                     <li>
             <div class="input-group">
          
          <input ng-model="search.genre" type="text" class="form-control" placeholder="Search Genre" aria-describedby="basic-addon1">
        </div>
                </li>
                
            </ul>

          


      

        </div>